@tailwind base;
@tailwind components;
@tailwind utilities;

/* css reset */
html, body, canvas {
    padding: 0;
    border: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {    
    justify-content: center;
    align-items: center;
}

canvas {
    width: 500px;
    height: 500px;
    border: 2px solid white;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(120%, -50%);
}

/* navBar start*/
.navBar {    
    flex-direction: reverse;
    background-color: orange;
    position: static;
    width: 200;
    height: 200;
    justify-content: left;
    padding-left: 20px;
    padding-bottom: 5px;
}

.navBarTitle {
    font-size: 25px;
}

.navBarButtons {
    padding-left: 30px;
}

.navBarButton {

}
.navBarButton:hover {
    color: red;
}

/* navBar end*/

.bodyMain {    
    position: absolute;
    top: 7vh;
    bottom: 1vh;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 100%;
}

/* high scores stuff */
#highScoreTitle {
    color: white;
    text-align: center;
    font-size: 50px;
}

.highScoreBlocks {
    display: flex;    
}
.highScoreBlock {
    padding: 10px;
    padding-left: 50px;
}

.highScoreHeader {
    color: red;
    font-size: 30px;
    text-align: center;
}

.highScoreList {
    color: blue;
    margin: auto;
    font-size: 30px;
    text-align: left;
}

.highScoresTimestamp {
    font-size: 12px;
    color: white;
}
/* high scores end */

/* Stats window */
.statsWindow {
    color: red;
    border: 2px solid white;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    width: 200px;
    transform: translate(550%, -50%);
}

.statsTitle {
    color: red;
    padding: 10px;
    font-size: 20px;
    text-decoration: underline;
}

.statsList {
    padding: 10px;
}

.statsItem {
    
}

.statsValue {
    color: white;
}
/* Stats window end */