<div class="statsWindow">
    <h1 class="statsTitle">Stats</h1>    
    <ul class="statsList">
        <li class="statListItem">Health: {{this.health}}</li>
        <li class="statListItem">Score: {{this.score}}</li>
        <li class="statListItem">Time: </li>
    </ul>
</div>
{{yield}}