<div class="statsWindow">
    <h1 class="statsTitle">Stats</h1>    
    <ul class="statsList">
        <li class="statListItem">Health: {{this.game.game.ship.health}}</li>
        <li class="statListItem">Score: {{this.game.game.score}}</li>
        <li class="statListItem">Time: {{duration this.game.roundBeginTime}}</li>       
    </ul>
</div>
{{yield}}