<div class="statsWindow">
    <h1 class="statsTitle">Stats</h1>    
    <ul class="statsList">
        <li class="StatsItem">Player: <span class="statsValue">{{this.game.game.player}}</span></li>
        <li class="statsItem">Health: <span class="statsValue">{{this.game.game.ship.health}}</span></li>
        <li class="statsItem">Score: <span class="statsValue">{{this.game.game.score}}</span></li>
    </ul>
</div>
{{yield}}