{{page-title "Asteroids"}}
<div>
  <div class="navBar">
      <div class="h-12 flex items-center mb-4 border-b-2">
        <a href="#">
          <h1 >
            <strong>Asteroids</strong>: <span>the game</span>
          </h1>
        </a> 
      </div>

      <nav class="h-8 flex items-center mb-8">
          <LinkTo class="hover:text-gray-500" @route="play">Play</LinkTo>
          |
          <LinkTo class="hover:text-gray-500 ml-4" @route="scores">Scores</LinkTo>
      </nav>
  </div>
  <div class="bodyMain">
    {{outlet}}
  </div>
</div>
