{{page-title "Asteroids"}}
<div>
  <div class="navBar">
      <div class="navBarTitle">
        <a href="#">
          <h1 >
            <strong>Asteroids</strong>: <span>the game</span>
          </h1>
        </a> 
      </div>

      <nav class="navBarButtons">
          <LinkTo class="navBarButton" @route="play">Play</LinkTo>
          | {{!--this is an element divider, do not remove --}}
          <LinkTo class="navBarButton" @route="scores">Scores</LinkTo>
      </nav>
  </div>
  <div class="bodyMain">
    {{outlet}}
  </div>
</div>
